.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);

  min-width: 50rem;
  min-height: 50rem;


}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
  background-color: #fff;
  border-bottom: 1px solid var(--color-grey-light-2);
  font-size: 1.4rem;


}

.content {
  display: flex;


}

.sidebar {
  background-color: var(--color-grey-dark-1);
  // Syntax: flex-grow, flex-shrink, flex-basis
  // The flex-basis CSS property sets the initial main size of a flex item

  flex: 0 0 18%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  // TEST

  height: 80rem;

  // Element has to grow as much as it can to occupy the remaining space
  flex: 1;


}